<!-- <script src="js/jquery-1.9.1.min.js"></script>
<script src="js/script.js"></script> -->

<% @images.each do |link| %>

<div class="imagebox"><span><img class="layer" src="<%= link %>"/></span></div>

<% end %>



