<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>City on City</title>
    	<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script type="text/javascript" src="//use.typekit.net/xdl8xxo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/script.js"></script>
	</head>

	<body>
		<div id="canvas">
			<header>
				<h1>CITY on CITY</h1>
				<p>Project concept by <a href="http://sallyhart.co.uk" target="_blank">Sally Hart</a>, coding by <a href="http://www.twitter.com/srsaint" target="_blank">Simon Saint</a>.</p>
				<p id="sub-title">Cities are iterative spaces, accumulations of history, politics, technology and experience. The practice of image making undertaken for this study was developed to echo this cumulative process.</p>
			</header>

			<div class="page-dividertop-divider"></div>

			<a id="returnlink" href="http://sallyhart.co.uk/index/">PROJECTS</a>

			<ul>
				<li><a href="/london">LONDON</a></li>
				<li><a href="/berlin">BERLIN</a></li>
				<li><a href="/tokyo">TOKYO</a></li>
				<li><a href="/melbourne">MELBOURNE</a></li>
				<li><a href="/newyork">NEW YORK</a></li>
			</ul>
			<div class="clear"></div>

			<div id="images"><%= yield %></div>
			<p id="imagecap">Google image search results compiled at <%= @searchtime %>.</p>

		</div>

	</body>

</html>