<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>City on City</title>
    	<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		<header>
			<h1>A Portrait of London</h1>
		</header>

		<div id="images"><%= yield %></div>

	</body>

</html>