<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>City on City</title>
    	<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		<header>
			<h1>A Portrait of <%= @city %></h1>
		</header>

		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/london">London</a></li>
			<li><a href="/berlin">Berlin</a></li>
			<li><a href="/tokyo">Tokyo</a></li>
			<li><a href="/melbourne">Melbourne</a></li>
		</ul>

		<div id="images"><%= yield %></div>

	</body>

</html>